:root {
  font-family: 'Zeyada', cursive;
  font-size: 32px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


#api {
  display: flex;
      flex-direction: column;
      margin: 0px auto;
      text-align: center;
    width: 100vw; 
    margin: 50px auto;
  font-style: italic;
  border-width: 10px;
  border-style: solid;
  border-color: red;
  border-image: initial;
  padding: 20px 20px;
  color: gold;
  box-shadow: 20px 10px 10px black;
  } 
  h1{
    color: grey;
    text-align: center;
  }

  #character {
    display: flex;
        flex-direction: column;
        margin: 0px auto;
        text-align: center;
      width: 100vw; 
      margin: 50px auto;
    font-style: italic;
    border-width: 10px;
    border-style: solid;
    border-color: red;
    border-image: initial;
    padding: 20px 20px;
    color: chartreuse;
    box-shadow: 20px 10px 10px black;
    } 